@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;

    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results  .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results  .cards img {
        height:  150px;
    }

    #page-create-point .field-group {
        flex-direction: column;
        margin-left: 0;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
        margin-right: 0;
    }

    

    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        gap: 5px;

    }  

    form {
    
        
        margin: 20px auto;
        /* preenchimento */
        padding: 20px;
    
    
        max-width: 730px;

            }
    

    form h1 {
       font-size: 20px;  }
    }




@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }

}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px ;
    } 

}